@using System.Web.Optimization;
@model IEnumerable<CourseData>
<!DOCTYPE html>
<html>
<head>
    <title>EasyGeneratorMin</title>
    @Styles.Render("~/Content/css") 
</head>
<body>
    <div>
        <span>
            Welcome to EasyGeneratorMin!
        </span>
    </div>
    @foreach (CourseData item in Model)
    {
        <div>
            <span>@item.Title</span>
            <span>@item.Description</span>
            <span>@item.Owner</span>
            <span>@item.LastModifiedDate</span>
            <span>@item.CreatedDate</span>
        </div>
    }
    @Html.RouteLink("Go to Courses", "Course")
</body>
</html>